{% extends 'base.html.twig' %}

{% block title %}Todolist{% endblock %}

{% block body %}


<div class="example-wrapper m-2">
    <h1>Todo List : </h1>
    <h2 class="ml-10" >Bonjour {{ nom }}</h2>

<table class="table border-primary" >
<thead>
<tr class="">
<td>n°</td><td>date</td><td>auteur</td><td class="col-6">description</td><td>comment</td>
<td>modif/</td><td>par</td><td>date</td><td colspan(2)>actions</td>
</tr>
</thead>
<tbody>
    {% for todo in todo_list%}
<tr>
<td>{{ todo.id }}</td>
<td>{{ todo.created|date("d/m/Y") }}</td>
<td>
{%if(todo.user)%}
{{ todo.user.nom }}
{% endif %}</td>
<td class="col-3">{{ todo.description }}</td>
<td class="col-3">{{ todo.comment }}</td>
<td class="col-3">{{ todo.reponse }}</td>
<td>{{ todo.auteurReponse }}</td>
<td>{{ todo.dateReponse|date("d/m/Y")}}</td>

{% if is_granted('ROLE_USER') %}
<td><form action="todolist/delete/{{todo.id}}" method="post">
    {# the argument of csrf_token() is an arbitrary string used to generate the token #}
    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

    <button class="text-bg-danger p-1" type="submit">Supprimer</button>
</form></td>
<td><a href="{{path('update_todo', {id: todo.id})}}"><button class="text-bg-primary p-1" >modifier</button></a></td>

{% endif %}
</tr>

{% endfor %}
</tbody>
</table>




</div>
{#<a href="/todolist/delete/{{todo.id}}" ><button>SUPPRIMER</button></a>
{{ url('/todolist/delete', { id: todo.id }) }}#}
{% endblock %}
